body{
    background-color: aqua;
    font-size: 15px;
}
header{
    color: azure;
    text-align: center;
}

section{
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px;
    background-color: rgb(224, 224, 235);
    border-radius: 10px;

}
footer{
    text-align: center;
    color: beige;
    

}